@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #fff2df;
    font-family: Asap;
    line-height: 4vw;
}

.Navbar-menu{
    font-size: 2vw;
    background-color: #377399;
    padding: 5vw;
}

.Navbar-links{
    line-height: 5vw;
    width: 70%;
    float: right;
}

.Navbar-links li{
    list-style: none;
    display: inline-block;
    margin: 2%;
}
.About{
    margin:3vw ;
}